.sect2 {
    display: flex;
}


.main_cont {
    width: 73%;
    background-color: #ffffff;
    
}

.second-cont {
    width: 27%;
    background-color: #ffffff;
}

.news-big {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #f2f2f2;

}

.big-news-img {
    width: 50%;
    overflow: hidden;
}

.big-news-content {
    width: 50%;
    padding: 10px;

    h2 {
        font-size: 22px;
        width: 392px;
        margin: 10px 0 20px;
    }

    p {
        font-size: 14px;
        line-height: 28px;
        width: 392px;
    }
}

.calendar {
    width: 250px;
    height: 24px;
    background: url(../img/calend.png) no-repeat, left, center;
    background-size: contain;
    display: flex;
    align-items: center;

    span {
        margin-left: 25px;
        font-size: 12px;
    }
}


.small-news {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}


.news-small {
    width: 50%;
    display: flex;
    align-items: flex-start;

    .small-news-img {
        width: 40%;
        height: 100%;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    .small-news-content {
        width: 60%;
        padding: 10px;
    }

    h2 {
        width: 242px;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
    }




}

.tiple-news-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 0;
}

.triple-items {
    width: 30%;

}

.news-triple {
    width: 100%;
    margin-right: 10px;
    background-color: #ffffff;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    .triple-news-img {
        width: 100%;
        height: 100%;
        overflow: hidden;

        img {
            width: 100%;
        }

    }

    .triple-news-content {
        width: 100%;
        padding: 10px;

        h2 {
            font-size: 16px;
        }


    }
}

.triple-title {
    margin: 10px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    a{
        margin-left: 70%;
    }
}

.triple-title::before {
        content: '';
        width: 20px;
        height: 20px;
        border: 8px solid blue;
        border-radius: 50px;
        background-color: transparent;
    
}

.right-cont{
    margin: 20px 0;
    padding: 10px 15px;
}

.title-before{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 0 20px;
}

.title-before::before {
    content: '';
    width: 8px;
    height: 8px;
    border: 4px solid blue;
    border-radius: 50px;
    background-color: transparent;

}

.news-right{
    margin: 15px 0;
    .calendar{
        margin: 10px 0px;
    }
    h4{
        margin: 10px 0px;
    }
}

.right-btn{
    width: 283px;
    height: 60px;
    background-color: #d1d0d0;
    border: 1px solid transparent;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    font-size: 14px;
    font-weight: 600;
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-position: center right 20px ;
    cursor: pointer;
}
.right-btn:hover{
    background-color: #a4a3a3;
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-position: center right 10px ;
}